{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}

{% block body %}

    <h1>Following</h1>

    {% for post in all_post %}
    <div id={{ post.id }} class='post'>
        <h6><a href="{% url 'profile' post.poster.username %}">{{ post.poster.username }}</a></h6>
        <p class='content'>{{ post.content }}</p>
        <p>{{ post.posted_timestamp }}</p>

        <img id='unlike-button' src='https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png' style='height: 20px'>

        <img id='like-button' src='https://cdn-icons-png.freepik.com/256/1077/1077035.png' style='height: 20px'>

        <span id='sum-like'>{{ post.like_user.count }}</span>
        <p>Comment</p>
    </div>
    {% endfor %}
    
{% endblock %}