{% extends "network/layout.html" %}

{% block body %}
<h1>All Posts</h1>
<hr>
{% if user.is_authenticated %}
<div id='new-post'>
    <h5>New Post</h5>
    <form action="{% url 'index' %}" method='post' id='new-post-form'>
        {% csrf_token %}
        <textarea class='form-control' form='new-post-form' name='content'></textarea>
        <input type='submit' class="btn btn-primary submit-button"/>
    </form>
</div>
{% endif %}

{% for post in all_post %}
<div class='post'>
    <h6><a href="{% url 'profile' post.poster.username %}">{{ post.poster.username }}</a></h6>
    <p>Edit<br />{{ post.content }}<br />{{ post.posted_timestamp }}<br />{{ post.like_user.count }}<br />Comment</p>
</div>
{% endfor %}
{% endblock %}