{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
<hr>
{% if user.is_authenticated %}
<div id='new-post'>
    <h5>New Post</h5>
    <form action="{% url 'index' %}" method='post' id='new-post-form'>
        {% csrf_token %}
        <textarea class='form-control' form='new-post-form' name='content'></textarea>
        <input type='submit' class="btn btn-primary submit-new-post-button"/>
    </form>
</div>
{% endif %}

<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>

{% for post in page_obj %}
<div id={{ post.id }} class='post'>
    <h6><a href="{% url 'profile' post.poster.username %}">{{ post.poster.username }}</a></h6>
    <button class='edit-button btn btn-secondary'>Edit</button>
    <p class='content'>{{ post.content }}</p>
    <form id={{ post.id }} class="edit-form">
        <textarea class="form-control" id="edit-content">{{ post.content }}</textarea>
        <input type="button" class="btn btn-primary" id='submit-button' onsubmit="return false" value="Submit"/>
    </form>
    <p>{{ post.posted_timestamp }}</p>

    {% if user.is_authenticated %}
    <img id='unlike-button' src='https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png'>

    <img id='like-button' src='https://cdn-icons-png.freepik.com/256/1077/1077035.png'>
    {% else %}
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwQmo_ZDderlNp_ZDlgQfRJumnOZ0FiMfmO1UeOLT5DZrR4PTtOBLvwKxyk_f6JCwFcU&usqp=CAU'>
    {% endif %}
    <span id='sum-like'>{{ post.like_user.count }}</span>
    <p>Comment</p>
</div>
{% endfor %}

  <nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
  </nav>
  
{% endblock %}

