{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
<hr>
{% if user.is_authenticated %}
<div id='new-post'>
    <h5>New Post</h5>
    <form action="{% url 'index' %}" method='post' id='new-post-form'>
        {% csrf_token %}
        <textarea class='form-control' form='new-post-form' name='content'></textarea>
        <input type='submit' class="btn btn-primary submit-button"/>
    </form>
</div>
{% endif %}

{% for post in all_post %}
<div id={{ post.id }} class='post'>
    <h6><a href="{% url 'profile' post.poster.username %}">{{ post.poster.username }}</a></h6>
    <button class='edit-button' style='display: none'>Edit</button>
    <p class='content'>{{ post.content }}</p>
    <form id={{ post.id }} class="edit-form">
        <textarea class="form-control" id="edit-content">{{ post.content }}</textarea>
        <input type="button" class="btn btn-primary" id='submit-button' onsubmit="return false" value="Submit"/>
    </form>
    <p>{{ post.posted_timestamp }}</p>
    {% if user in post.like_user %}
    <img id='like-button' src='https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/256/Heart-icon.png' style='height: 20px'>{{ post.like_user.count }}
    {% else %}
    <img id='unlike-button' src='https://cdn-icons-png.freepik.com/256/1077/1077035.png' style='height: 20px'>
    <span>{{ post.like_user.count }}</span>
    {% endif %}
    <p>Comment</p>
</div>
{% endfor %}
{% endblock %}

