textarea {
    min-height: 400px;
}

#sender {
    font-weight: bold;
}

#timestamp {
    color: grey; 
    float: right;
}

.email-div {
    border: 1px grey solid;
    padding: 5px 5px;
    margin: 5px 0px;
    display: inline-block;
    width: 80%;
}

.read {
    background-color: rgb(229, 229, 229);
}

#body>p {
    white-space: pre-line;
}

.archive-button, .unarchive-button {
    margin-bottom: 5px;
}