#new-post {
    padding: 20px 20px;
    margin: 0px 10px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
}

.submit-button {
    display: block;
}

.edit-button {
    display: none;
}

h1 {
    margin-top: 8px;
}

.post {
    padding: 15px 20px 0px 20px;
    margin: 10px 10px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
}

h6 {
    font-size: larger;
}

img {
    height: 20px;
}